* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: tomato;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#container {
  /* width: 50%; */
  height: 50%;
}

h1 {
  color: white;
  text-decoration: solid rgb(247, 153, 153);
}

#grid-container {
  display: grid;
  grid-template-areas:
    "c c c c"
    "c c c c";
  height: 100%;
}

.cell {
  border: 0.5px solid rgb(246, 246, 246);
  grid-area: "c";
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  & img {
    width: 100%;
  }
}

#btn {
  background-color: white;
  width: 50%;
  margin-top: 5rem;
  margin-left: 5rem;
  height: 3rem;
  text-align: center;
  padding-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 4px 4px 10px 1px white;
  border: 1px solid black;
}

#dialog {
  background-color: aliceblue;
  width: 20rem;
  height: 8rem;
  outline: 0;
  border-style: none;
  border-width: 0px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px grey;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* & h1 {
    color: #130f0f;
  } */

  & #btn-close {
    background-color: rgb(78, 78, 238);
    color: aliceblue;
    width: 4rem;
    height: 2rem;
    outline: 0;
    cursor: pointer;
  }
}



#game-heading{
    margin-left: 6rem ;
}